.chat-main
  .chat-header
    .chat-header__left
      %h2
        = group.name
      %p.chat-header__users
        Members:
        = render partial: 'messages/member', collection: group.users, as: "user"
    .chat-header__right
      .chat-header__edit-btn
        = link_to "編集", edit_group_path(group)
  .chat-body
    %ul.chat-messages
      -# = render partial: 'message', collection: @messages
  .chat-footer
    = form_for message do |f|
      .new_message
        .chat-footer__body
          = f.text_area :body, class: "chat-footer__textarea", id: "js-input"
          = f.hidden_field :group_id, value: group.id
          %label.chat-footer__file
            = f.file_field :image
            %i.fa.fa-image
        = f.submit "送信", class: "chat-footer__submit", id: "js-submit"
