.chat-group-form
  %h1 チャットグループ編集
  = form_for @group do |f|
    = render partial: "layouts/group-flash-message"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください。", class: "chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :user, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |t|
          .chat-group-form__check
            = t.label { t.check_box + t.text }
    .chat-group-form__field.clearfix
      .chat-group-form__field--right
        = f.submit "作成する", class: "chat-group-form__action-btn"
